<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      http-equiv="Content-Security-Policy"
      name="stytch-token"
      content="<%= process.env.STYTCH_PUBLIC_TOKEN %>"
    />
    <script type="importmap">
      {
        "imports": {
          "@stytch/vanilla-js": "https://www.unpkg.com/@stytch/vanilla-js@5.32/dist/index.esm.js"
        }
      }
    </script>
    <title>Document</title>
  </head>
  <body>
    <div id="stytch-sdk-authenticate"></div>
    <div id="authenticate-loader"></div>
    <!-- <script src="https://unpkg.com/@stytch/vanilla-js@latest"></script> -->
    <script type="module">
      import { StytchUIClient } from "@stytch/vanilla-js";

      // Get the Stytch token from the meta tag
      const getStytchToken = () => {
        const metaToken = document.querySelector('meta[name="stytch-token"]');
        if (metaToken) {
          return metaToken.getAttribute("content") || "";
        }
        throw new Error("Stytch public token not found");
      };

      const stytch = new StytchUIClient(getStytchToken());

      // Authenticate the user
      const authenticate = () => {
        // Show the loader
        const loader = document.getElementById("authenticate-loader");
        if (loader) {
          loader.innerText = "Authenticating...";
        }

        const params = new URLSearchParams(window.location.search);
        const token = params.get("token");
        if (!token) return;

        stytch.oauth
          .authenticate(token, { session_duration_minutes: 60 })
          .then(() => {
            // Hide the loader
            if (loader) {
              loader.style.display = "none";
            }
            // Redirect to the authorize page
            window.location.href = "/oauth/authorize";
          })
          .catch((error) => {
            console.error("Error authenticating:", error);
          });
      };

      authenticate();
    </script>
  </body>
</html>
