<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      http-equiv="Content-Security-Policy"
      name="stytch-token"
      content="<%= process.env.STYTCH_PUBLIC_TOKEN %>"
    />
    <script type="importmap">
      {
        "imports": {
          "@stytch/vanilla-js": "https://www.unpkg.com/@stytch/vanilla-js@5.32/dist/index.esm.js"
        }
      }
    </script>
    <title>Document</title>
  </head>
  <body>
    <div id="stytch-idp-container"></div>
    <script type="module">
      import { StytchUIClient } from "@stytch/vanilla-js";

      // Get the Stytch token from the meta tag
      const getStytchToken = () => {
        const metaToken = document.querySelector('meta[name="stytch-token"]');
        if (metaToken) {
          return metaToken.getAttribute("content") || "";
        }
        throw new Error("Stytch public token not found");
      };
      const stytch = new StytchUIClient(getStytchToken());

      // Mount the Identity Provider
      const mountIdentityProvider = () => {
        if (!stytch.user.getSync()) {
          console.log("User is not logged in; please redirect to login");
          // Save the returnTo URL for future useand redirect to login
          localStorage.setItem("returnTo", window.location.href);
          window.location.href = "/login";
        }

        stytch.mountIdentityProvider({
          elementId: "#stytch-idp-container",
        });
      };

      mountIdentityProvider();
    </script>
  </body>
</html>
